.btn{
   
    color: black;
   
}
.btn-outline-danger{
    background-color: green;
}

input[type="email"]{
    width: 100px;
}

.box1{
    background-color: red;
    height: 300px;
    width: 300px;

}

.box2{
    background-color: yellow;
    height: 300px;
    width: 300px;
    
}
.box3{
    background-color: green;
    height: 300px;
    width: 300px;
    
}